node_modules
vendor
public/hot
public/storage
storage/*.key
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
.env
.env.*
.git
.github
documentation
tests
bootstrap/cache/*.php
npm-debug.log
yarn-error.log
